.App {
    width: 100vw;
    height: 100vh;
    background: #ececec;
    font-family: Arial;
    overflow: auto;
}

.Header {
    height: 50px;
    background: #0292ff;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
}

.ControlBar {
    margin: 10px;
    background: white;
}

.configRow {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.configItem {
    display: flex;
    align-items: center;
    margin: 0 15px 3px 3px;
}

.configName {
    margin-right: 10px;
    font-weight: 600;
}

.Gallery {
    margin: 10px;
}

.BarChart, .LineChart, .Scatterplot, .PieChart {
    margin: 5px
}
